# Exercise 2 - Notebook Title

Data Science Tools and Their Ecosystem

# Exercise 3 - Introduction

In this notebook, we’ll explore essential tools, languages, and libraries widely used in Data Science. We’ll also perform simple arithmetic operations in Python to demonstrate practical coding.

# Exercise 4 - Commonly Used Languages for Data Science

Below are some of the most popular programming languages used by data scientists:

- Python  
- R  
- SQL  
- Julia  
- Scala  

# Exercise 5 - Popular Data Science Libraries

Here is a list of widely-used libraries in the Data Science field:

- NumPy  
- Pandas  
- Matplotlib  
- Scikit-learn  
- TensorFlow

In [2]:
# Exercise 6 - Data Science Tools Table

import pandas as pd

tools_data = {
    "Tool Name": ["Jupyter Notebook", "RStudio", "Apache Spark", "TensorFlow", "Power BI"],
    "Description": [
        "Interactive environment for writing code and notes",
        "IDE tailored for R language development",
        "Framework for handling large-scale data",
        "Deep learning and ML framework",
        "Business intelligence and data visualization tool"
    ]
}

tools_df = pd.DataFrame(tools_data)
tools_df

          Tool Name                                        Description
0  Jupyter Notebook  Interactive environment for writing code and n...
1           RStudio            IDE tailored for R language development
2      Apache Spark            Framework for handling large-scale data
3        TensorFlow                     Deep learning and ML framework
4          Power BI  Business intelligence and data visualization tool

### Exercise 7 - What Are Arithmetic Expressions?

Arithmetic expressions include operations like addition, subtraction, multiplication, and division. These are basic math operations executed using symbols:

- Addition (+): 7 + 2  
- Subtraction (-): 10 - 4  
- Multiplication (*): 6 * 3  
- Division (/): 12 / 4

In [10]:
# Exercise 8 - Multiply and Add Numbers Using Python
a = 6
b = 4
product = a * b
total = a + b
print("Product of numbers:", product)
print("Sum of numbers:", total)

Product of numbers: 24
Sum of numbers: 10

In [11]:
# Exercise 9 - Convert Minutes into Hours
minutes = 150
hours = minutes / 60
print("Converted time in hours:", hours)

Converted time in hours: 2.5

# Exercise 10 - Objectives of This Notebook

Here are the key learning goals from this notebook:

- Get familiar with common Data Science languages  
- Explore important libraries in the field  
- Learn about Data Science tools and platforms  
- Practice basic arithmetic operations in Python  
- Convert time units using Python  

# Exercise 11 -  Author

Spoorthi Bojja